<h1>Eigenblogger</h1>
 
<%= link_to new_article_path, class: 'btn btn-info btn-lg btn-block' do %>
  <i class="glyphicon glyphicon-plus"></i>
<% end %>

<table class="table table-bordered table-layout: auto;">
  <tr>
    <th class="text-center">Title</th>
    <!-- <th>Text</th> -->
    <th class="text-center">View</th>
    <th class="text-center">Edit</th>
    <th class="text-center">Delete</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td class="text-center"><%= article.title %></td>
      <!-- <td><%= article.text %></td> -->
      <td><%= link_to article_path(article), class: 'btn btn-success btn-lg btn-block' do %>
        <i class="glyphicon glyphicon-eye-open"></i>
      <% end %></td>
      <td><%= link_to edit_article_path(article), class: 'btn btn-warning btn-lg btn-block' do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %></td>
      <td><%= link_to article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg btn-block' do %>
              <i class="glyphicon glyphicon-trash"></i>

        <% end %></td>
    </tr>
  <% end %>
</table>